<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>DCS Smart Trolley</title>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar fixed-top bg-light navbar-light">
        <!-- Logo -->
        <a class="navbar-brand" href="">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="30" height="30"> PDCS Smart
            Trolley
        </a>
        <!-- Right -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="">Logout</a>
            </li>
        </ul>
    </nav>

    <!-- side bar -->
    <div class="sidebar shadow-sm">
        <div class="profile-img">
            <img class="" src="{{ url_for('static', filename='img/profile.png') }}" alt="">
        </div>
        <div class="person-email">
            <p>example@gmail.com</p>
        </div>
        <a class="active" href="#home">Dashbord View</a>
        <a href="#services">Account</a>
        <a href="#clients">Configure Email</a>
        <a href="#contact">Download</a>
        <a href="#contact">Logout</a>
    </div>

    <!-- Contain Section -->
    <div class="main">
        <div class="container">

            <div class="row">
                <div class="col">
                    <!-- Active Trolleys Card -->
                    <div class="shadow-sm trolley-card">
                        Active Trolleys
                        <div class="active-trolley">
                            2
                        </div>
                        <div class="total-trolley">Total: 0</div>
                    </div>
                </div>
                <div class="col">
                    <!-- Active Trolleys Card -->
                    <div class="shadow-sm temp-card">
                        <div id="temp-date-id">Thursday, August 13 2020</div>
                        <div class="mt-3"><b>Highest Temperature</b><br><span>30.0 (trolly1)</span></div>
                        <div><b>Highest Temperature</b><br><span>11.1 (trolly1)</span></div>
                    </div>
                </div>
            </div>

            <!-- Trolley Data Analysis Chart with Chart.js -->
            <div class="chart-wrapper shadow-sm">
                <p><b>Temperature recording</b><br>Today's recording</p>
                <canvas id="myChart"></canvas>
            </div>
            
            <!-- VUE.js APP -->
            <div id="app"></div>

        </div>
    </div>

    <!-- --------------------------------------------- -->
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <!-- --------------------------------------------- -->

    <!-- Create Simple Chart -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>